<%= link_to 'Git status', git_status_setting_index_path,remote:true,class: "btn btn-success"%><br/><br/>
<div id="git_status"></div>

<div id="git_add"></div>

<div id="git_commit"></div>
<%= link_to 'Git pull', git_pull_setting_index_path,class: "btn btn-success",remote:true%><br/><br/>
<div id="git_pull"></div>

<div id="git_push"></div>

<div id="myModal" class="modal fade"></div>